In [5]:
students = []

In [3]:
print(type(students))

list

In [ ]:
# old way without list
name1 = 'osama'
name2= 'tarik'
name3= 'abeer'
name50=

In [16]:
# with list is more memory use
            #       0       1           2           3     4           5        
students_names = ['osama123131','abeer', 'abdul', 'shirin', 'hajar', 'tarik']

In [17]:
type(students_names)

list

In [18]:
len(students_names)

6

In [25]:
students_names[0]

'osama123131'

In [26]:
students_names.append('Naser')

In [27]:
print(students_names)

['osama123131', 'abeer', 'abdul', 'shirin', 'hajar', 'tarik', 'Naser']

In [29]:
# remember we start counting from Zero in programming
students_names.index('abdul')

2

In [32]:
print(students_names)

['osama123131', 'abeer', 'abdul', 'shirin', 'hajar', 'tarik', 'Naser']

In [37]:
students_names.count('Naser')

1

In [38]:
students_names.append('Naser')

In [39]:
students_names

['osama123131', 'abeer', 'abdul', 'shirin', 'hajar', 'tarik', 'Naser', 'Naser']

In [40]:
students_names.count('Naser')

2

In [42]:
students_names.remove('Naser')

In [43]:
students_names

['osama123131', 'abeer', 'abdul', 'shirin', 'hajar', 'tarik', 'Naser']

In [48]:
students_names.insert(0,'Naser')

In [49]:
students_names

['Naser', 'osama123131', 'abeer', 'abdul', 'shirin', 'hajar', 'tarik', 'Naser']

In [51]:
students_names[7] = 'Sam'

In [52]:
students_names

['Naser', 'osama123131', 'abeer', 'abdul', 'shirin', 'hajar', 'tarik', 'Sam']

In [54]:
students_names[1] = "Osama"

In [55]:
students_names

['Naser', 'Osama', 'abeer', 'abdul', 'shirin', 'hajar', 'tarik', 'Sam']

In [63]:
students_names[6] = 'Tarik'

In [64]:
students_names

['Naser', 'Osama', 'abeer', 'abdul', 'shirin', 'hajar', 'Tarik', 'Sam']

In [65]:
temp = students_names[6]
students_names[6] = students_names[1]

In [66]:
students_names

['Naser', 'Osama', 'abeer', 'abdul', 'shirin', 'hajar', 'Osama', 'Sam']

In [67]:
students_names[1] = temp

In [69]:
students_names

['Naser', 'Tarik', 'abeer', 'abdul', 'shirin', 'hajar', 'Osama', 'Sam']

In [72]:
if 'Jack' in students_names:
    print('LIDE')
else:
    print("ALDI")

NO

In [74]:
            # five lists in a list
shopping_list =[[],[],[],[],[]]

In [79]:
shopping_list[0] = ['apple','bread', 'orange']

In [80]:
shopping_list

[['apple', 'bread', 'orange'], [], [], [], []]

In [81]:
shopping_list[1] = ['water','cola', 'toast']

In [82]:
shopping_list

[['apple', 'bread', 'orange'], ['water', 'cola', 'toast'], [], [], []]

In [83]:
shopping_lists = [
                ['toast', 'tea','coffe'], #pos 0, LIDL
                ['tomatos','cucumber', 'apple'], #pos 1 ALDI
                ['bread', 'honey', 'almond', True], #pos 2 TESCO
                ['ice cream', 'egg', 'croissant'], #pos 3 DUNNES
                [True, 500] #pos 4 OTHER
                ]

In [84]:
shopping_lists

[['toast', 'tea', 'coffe'],
 ['tomatos', 'cucumber', 'apple'],
 ['bread', 'honey', 'almond', True],
 ['ice cream', 'egg', 'croissant'],
 [True, 500]]

In [85]:
shopping_lists[3]

['ice cream', 'egg', 'croissant']

In [87]:
for item in shopping_lists[3]:
    print(item)

ice cream
egg
croissant

In [89]:
for list_n in shopping_lists:
    print(list_n)

['toast', 'tea', 'coffe']
['tomatos', 'cucumber', 'apple']
['bread', 'honey', 'almond', True]
['ice cream', 'egg', 'croissant']
[True, 500]

In [102]:
shopping_lists = [
                ['LIDL','toast', 'tea','coffe'], #pos 0, LIDL
                ['ALDI','tomatos','cucumber', 'apple'], #pos 1 ALDI
                ['TESCO','bread', 'honey', 'almond', True], #pos 2 TESCO
                ["DUNNES",'ice cream', 'egg', 'croissant'], #pos 3 DUNNES
                [500] #pos 4 number only
                ]

In [109]:
for list_n in shopping_lists:
    print('SHOPE: ',list_n[0])
    print('ITEMS', list_n[1:])

SHOPE:  LIDL
ITEMS ['toast', 'tea', 'coffe']
SHOPE:  ALDI
ITEMS ['tomatos', 'cucumber', 'apple']
SHOPE:  TESCO
ITEMS ['bread', 'honey', 'almond', True]
SHOPE:  DUNNES
ITEMS ['ice cream', 'egg', 'croissant']
SHOPE:  500
ITEMS []

In [111]:
for list_n in shopping_lists:
    print('SHOPE: ',list_n[0])
    for item in list_n[1:]:
        print("ITEM:", item)

SHOPE:  LIDL
ITEM: toast
ITEM: tea
ITEM: coffe
SHOPE:  ALDI
ITEM: tomatos
ITEM: cucumber
ITEM: apple
SHOPE:  TESCO
ITEM: bread
ITEM: honey
ITEM: almond
ITEM: True
SHOPE:  DUNNES
ITEM: ice cream
ITEM: egg
ITEM: croissant
SHOPE:  500

In [112]:
students_names

['Naser', 'Tarik', 'abeer', 'abdul', 'shirin', 'hajar', 'Osama', 'Sam']

In [113]:
students_names.sort()

In [114]:
students_names

['Naser', 'Osama', 'Sam', 'Tarik', 'abdul', 'abeer', 'hajar', 'shirin']

In [119]:
marks = [23,34,34,77,90,23,90,23,100]

In [120]:
marks.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [118]:
marks

[12, 23, 23, 34, 55, 77, 88, 90, 100]

In [127]:
marks = [23,34,34,77,90,23,90,23,100,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23]

In [129]:
type(marks)

list

In [132]:
marks_uniqe = set([23,34,34,77,90,23,90,23,100,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23,34,34,77,90,23,90,23])

In [134]:
marks_uniqe

{23, 34, 77, 90, 100}

In [143]:
num1 = set((1,2,4,4,5))

In [144]:
num2 = set((1,3,5,6,7))

In [145]:
num3 = num1.union(num2)
num3

{1, 2, 3, 4, 5, 6, 7}

In [146]:
num4 = num1.difference(num2)
num4

{2, 4}